{% load  static%}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Entebbe Golf Club</title>
  <!-- plugins:css -->
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="{% static 'golfproject/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'golfproject/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static  'golfproject/vendors/css/vendor.bundle.addons.css' %}">
    <link rel="stylesheet" href="{% static 'golfproject/vendors/DataTables/css/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'golfproject/css/main.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{%  static 'golfproject/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'golfproject/css/main.css' %}">
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html  the top navigation bar starts here-->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="base.html">
          <img src="{% static 'golfproject/images/logo.svg'%}" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="base.html">
          <img src="{% static 'golfproject/images/logo-mini.svg' %}" alt="logo" />
        </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown d-none d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <span class="profile-text">Hello, {{ user.username }}</span>
              <img class="img-xs rounded-circle" src="{{ user.userprofile.image.url}}" alt="Profile image">
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <a class="dropdown-item p-0">
                <div class="d-flex border-bottom">
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                    <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                  </div>
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                    <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                  </div>
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                    <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                  </div>
                </div>
              </a>
              <a class="dropdown-item mt-2" href="{% url 'admin-profile' %}">
                Manage Accounts
              </a>
              <a class="dropdown-item" href="{% url 'admin-logout'%}">
                Sign Out
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
      <!-- end of the top nav/right navigation bar-->
    <!-- partial  the left/side navbar begins here-->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <img src="{{user.userprofile.image.url}}" alt="profile image">
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">{{ user.username }}</p>
                  <div>
                    <small class="designation text-muted">Manager</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
              <button class="btn btn-success btn-block"> Tournament
                <i class="mdi mdi-plus"></i>
              </button>
            </div>
          </li>
            {% if user.is_authenticated and user.is_superuser%}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin-index' %}">
                        <i class="menu-icon mdi mdi-television"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'admin-members' %}" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-content-copy"></i>
                        <span class="menu-title">Members</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin-tournament' %}">
                        <i class="menu-icon mdi mdi-backup-restore"></i>
                        <span class="menu-title">Tournaments</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-content-copy"></i>
                        <span class="menu-title">Employees Informations</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'employee-personal-info' %}">Personal Info</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'next-of-kind-info' %}">Next of Kind</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'employment-info' %}">Employment </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'employee-bank-info' %}">Bank </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'citizenship-info' %}">CitizenShip </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'residential-info' %}">Residential</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin-books-info'%}">
                        <i class="menu-icon mdi mdi-sticker"></i>
                        <span class="menu-title">Bookings</span>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-tournaments' %}">
                        <i class="menu-icon mdi mdi-wheelchair-accessibility"></i>
                        <span class="menu-title">Tournaments</span>
                    </a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-booking-details' %}">
                        <i class="menu-icon mdi mdi-book-open-page-variant"></i>
                        <span class="menu-title">Bookings</span>
                    </a>
                </li>
            {% endif %}
        </ul>
      </nav>
      <!-- partial here the the main container starts here-->
      <div class="main-panel">
      {% load static %}
        {% block pagecontent %}
            <!-- the page content goes here -->
        {% endblock %}
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
              <a href="http://www.bootstrapdash.com/" target="_blank">entebbe golf club</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
              <i class="mdi mdi-heart text-danger">by Lancers</i>
            </span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{% static 'golfproject/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'golfproject/js/chart.js' %}"></script>
  <script src="{% static 'golfproject/js/dashboard.js' %}"></script>
  <script src="{% static 'golfproject/js/off-canvas.js' %}"></script>
  <script src="{% static 'golfproject/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'golfproject/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'golfproject/vendors/DataTables/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'golfproject/vendors/DataTables/js/dataTables.bootstrap4.min.js' %}"></script>
   <script src="{% static 'golfproject/js/maps.js' %}"></script>
  <script>
      $(document).ready(function() {
          $('#example-table').DataTable();
      } );
  </script>
<script src="{% static 'golfproject/js/main.js'%}"></script>
</body>
</html>