{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>admin-dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'golfproject/vendors/iconfonts/mdi/css/materialdesignicons.min.css'%}">
  <link rel="stylesheet" href="{% static 'golfproject/vendors/css/vendor.bundle.base.css'%}">
  <link rel="stylesheet" href="{% static 'golfproject/vendors/css/vendor.bundle.addons.css'%}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'golfproject/css/style.css '%}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'golfproject/images/favicon.png'%}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">
              <form action="#" method="post">
                {% csrf_token %}
                  {{ form|crispy }}
                <div class="form-group">
                  <button class="btn btn-primary submit-btn btn-block">Login</button>
                </div>
                <div class="form-group d-flex justify-content-between">
                  <div class="form-check form-check-flat mt-0">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" checked> Keep me signed in
                    </label>
                  </div>
                </div>
              </form>
            </div>
            <ul class="auth-footer" >
              <br>
              <li>
                <a href="#" style="color:white;">Conditions</a>
              </li>
              <li>
                <a href="#" style="color:white;">Help</a>
              </li>
              <li>
                <a href="#" style="color:white;">Terms</a>
              </li>
            </ul>
            <p class="text-center" style="color:white;">for got your password
                <a href="{% url 'password_reset'  %}" style="color:white;">reset now</a>
              </p>
            <p class="footer-text text-center" style="color:white;">copyright © 2019 entebbe club. All rights reserved.</p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'golfproject/vendors/js/vendor.bundle.base.js' %}."></script>
  <script src="{% static 'golfproject/vendors/js/vendor.bundle.addons.js' %}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{% static 'golfproject/js/off-canvas.js' %}"></script>
  <script src="{% static 'golfproject/js/misc.js' %}"></script>
  <!-- endinject -->
</body>

</html>