<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>entebbe club</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'golfproject/vendors/iconfonts/mdi/css/materialdesignicons.min.css'%}">
  <link rel="stylesheet" href="{% static 'golfproject/vendors/css/vendor.bundle.base.css'%}">
  <link rel="stylesheet" href="{% static 'golfproject/vendors/css/vendor.bundle.addons.css'%}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'golfproject/css/style.css '%}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'golfproject/images/favicon.png'%}" />
</head>
<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center text-center error-page bg-primary">
        <div class="row flex-grow">
          <div class="col-lg-7 mx-auto text-white">
            <div class="row align-items-center d-flex flex-row">
              <div class="col-lg-6 text-lg-right pr-lg-4">
                <i class="mdi mdi-alarm-snooze display-1 mb-0"></i>
              </div>
              <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
                <h2>reset password confirm</h2>
                <h5 class="font-weight-light">
                We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.I
                f you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</h5>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 text-center mt-xl-2">
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 mt-xl-2">
                <p class="text-white font-weight-medium text-center">Copyright &copy; 2018 All rights reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'golfproject/vendors/js/vendor.bundle.base.js' %}."></script>
  <script src="{% static 'golfproject/vendors/js/vendor.bundle.addons.js' %}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{% static 'golfproject/js/off-canvas.js' %}"></script>
  <script src="{% static 'golfproject/js/misc.js' %}"></script>
  <!-- endinject -->
</body>
</html>